
    
    /*logo*/
    .logo img {
      width: 30px;
      height: 30px;
  }
    /*banner here*/
    .banner-container {
      margin-top: 20px;

      position: relative;
      max-width: 100%;
      overflow: hidden;
    }

    .banner {

      display: none;
      width: 100%;
    }

    .banner img {
      width: 100%;
      height: auto;
    }

    .prev-btn,
    .next-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      z-index: 1000;
    }

    .prev-btn {
      left: 0;
    }

    .next-btn {
      right: 0;
    }




    /* end banner*/
    /*  price*/
    /* Custom CSS */
    .product-box {
      position: relative;
      border: 1px solid #1f1e1e;
      transition: box-shadow 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      background-color: rgb(23, 18, 163);

    }

    .product {
      position: relative;
      margin: 5px 5px 5px 5px;
      border-radius: 5px;
      padding: 0;
      /* Remove padding */
      transition: box-shadow 0.3s ease-in-out;
      margin-bottom: 20px;
    }

    .product-box:hover {
      box-shadow: 10px 0px 10px 0px rgba(179, 39, 39, 0.1);
      background-color: rgb(6, 195, 6);

    }

    .product-box:hover .price {
      color: red;
      /* Change to the desired text color */
    }

    .price {
      text-align: center;
    }

    .product img {

      width: 100%;
      /* Image will occupy the entire size of the product */
      border-radius: 5px;
      object-fit: cover;
      width: 300px;
      height: 300px;
      /* Ensure rounded corners for images */
    }


    .product:hover .icons {
      opacity: 1;
      justify-content: right;

    }

    .product .price {
      text-decoration-color: red;

    }

    body,
    html {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
      background-color: rgb(227, 227, 234);
    }

    footer {
      background-color: rgb(6, 6, 7);      padding: 20px 0;
      text-align: center;
    }

    .contact-info,
    .feedback {
      margin: 20px 0;
      color: #fff;
      /* Add margin to both sections */
    }

    /*contact info */
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .contact-info h5 {
      margin-bottom: 10px;
    }

    .contact-info p {
      margin: 5px 0;
      line-height: 1.5;
      /* Add line-height for readability */
    }


   /* navbar*/
   
   .navbar{
    background-color: rgb(68, 63, 223);
   }




    /* pagination*/
    .pagination {
      margin-top: 20px;
      justify-content: center;
    }


    /* end banner*/

    /* Responsive adjustments */
    @media (max-width: 575.98px) {
      .product {
        flex-basis: 50%;
        max-width: 50%;
      }
    }